<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- 구글폰트 -->
    <link
            href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
            rel="stylesheet"
    />

    <script src="/static/scripts/dtail.js"></script>
    <link rel="stylesheet" href="/static/styles/detail.css"/>
    <link rel="stylesheet" href="/static/styles/reset.css"/>

    <title>details</title>

    <script>
        $(document).ready(function () {
            get_comments("{{ food.no }}")
        })

        function save_comment() {
            let comment = $('.input-comment').val()
            let num = "{{ food.no }}"
            let today = new Date().toISOString()
            $.ajax({
                type: 'POST',
                url: '/api/save_comment',
                data: {
                    comment_give: comment,
                    num_give: num,
                    time_give: today
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            })
        }

        function delete_comment(username, comment) {
            $.ajax({
                type: "POST",
                url: '/api/delete_comment',
                data: {
                    username_give: username,
                    comment_give: comment
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }


        function time2str(date) {
            let today = new Date()
            let time_ex = today - date
            let time = time_ex / 1000 / 60 // 분

            if (time < 2) {
                return "방금 전"
            }

            if (time < 60) {
                return parseInt(time) + "분 전"
            }
            time = time / 60 // 시간
            if (time < 24) {
                return parseInt(time) + "시간 전"
            }
            time = time / 24 // 일
            if (time < 7) {
                return parseInt(time) + "일 전"
            }
            return `${date.getFullYear()}년 ${date.getMonth() + 1}월 ${date.getDate()}일`
        }

        function sign_out() {
            $.removeCookie('mytoken', { path: '/'});
            alert('정상적으로 로그아웃 되었습니다.')
            window.location.href = "/"
        }



        function get_comments(food_num) {
            $.ajax({
                type: "POST",
                url: "/api/get_comments",
                data: {
                    "num_give": food_num
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        let comments = response["comments"]

                        for (let i = 0; i < comments.length; i++) {
                            let comment = comments[i]
                            if (comment["num"] == food_num) {
                                let time_post = new Date(comment["time"])
                                let time_before = time2str(time_post)
                                let html_temp = `<div class="comment">
                                                    <div class="user">
                                                        <img class="user-profil" src="https://picsum.photos/id/237/200/300" alt="유저 프로필사진">
                                                        <p class="user-name"> ${comment["nickname"]}</p>
                                                    </div>
                                                    <p class="comment-text">
                                                        ${comment["comment"]}
                                                    </p>
                                                    <div class="comment-bottom">
                                                        <span class="date">${time_before}</span>
                                                        <button class="delete-btn" onclick="delete_comment('${comment["username"]}','${comment["comment"]}')">삭제</button>
                                                    </div>
                                                </div>`
                                $('#comments').append(html_temp)
                            }
                        }
                    }
                }
            })
        }
    </script>

  </head>
  <body>
    <header id="header">
      <h1><a href="#"><img class="logo" src="../static/imgs/logo.PNG" alt="오늘 뭐먹지?"></a></h1>
      <div onclick="nav_show()"  class="user">
        <span class="user-name"><span class="user-name-db">{{ nickname }}</span>님</span>
        <img src="https://picsum.photos/id/237/200/300" alt="프로필">
      </div>
      <div onclick="sign_out()" class="nav">
        로그아웃
      </div>
    </header>
    <div class="wrap">
      <!-- 상세 이미지 -->
      <section id="detail-image">
        <h2 class="title">오늘의 매뉴 : <span class="menu">스테이크</span></h2>
        <div class="ingredient-list">
          <img class="pentagon-img" src="../static/imgs/Star.png" alt="5각형">
          <img class="food-img" src="../static/imgs/food.jpg" alt="음식명도 넘겨받기">
          <div class="circle circle-1">칼로리<p class="calorie">50</p></div>
          <div class="circle circle-2">나트륨<p class="natrium">200</p></div>
          <div class="circle circle-3">탄수화물<p class="carbo">242</p></div>
          <div class="circle circle-4">단백질<p class="protein">53</p></div>
          <div class="circle circle-5">지방<p class="fat">25</p></div>
        </div>
      </section>
      <!-- 상세 설명글 -->
      <section id="detail-text">
        <div class="h2"><h2>RECIPE</h2></div>
        <div class="recipe">
          <div class="recipe-img">
            <div class="img-box">
              <img class="process-img" src="../static/imgs/과정1.png" alt="">
              <span></span>
            </div>
            <div class="img-box">
              <img class="process-img" src="../static/imgs/과정2.png" alt="">
            </div>
            <div class="img-box">
              <img class="process-img" src="../static/imgs/과정3.png" alt="">
            </div>
            <div class="img-box">
              <img class="process-img" src="../static/imgs/과정4.png" alt="">
            </div>
          </div>
          <div class="recipe-text">
            <p>1. 고구마는 깨끗이 씻어서 껍질을 벗기고 4cm 정도로 잘라준다. </p>
            <p>2. 고구마는 깨끗이 씻어서 껍질을 벗기고 4cm 정도로 잘라준다. </p>
            <p>3. 고구마는 깨끗이 씻어서 껍질을 벗기고 4cm 정도로 잘라준다. </p>
            <p>4. 고구마는 깨끗이 씻어서 껍질을 벗기고 4cm 정도로 잘라준다. </p>
          </div>
        </div>
      </section>
      <!-- 댓글 -->
      <section id="comments">
        <form action="" class="form-comment">
            <input class="input-comment" type="text" placeholder="댓글 입력">
            <button type="submit" onclick=save_comment()>입력</button>
        </form>

      </section>
      <footer id="footer">
        © 2021 오늘뭐먹지? by 5조
      </footer>
    </div>
  </body>
  <script>
    function nav_show(){
      if($(".nav").css("display") == "none"){
        $(".nav").show();
      }else{
        $(".nav").hide();
      }
    }
  </script>

</html>
