<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <nav class="nav-bar"><h1>오늘 뭐 먹이지?</h1></nav>
    <div class="body">
      <div class="main-container">
        <div class="buttons-container">
          <div class="search-form">
            <input type="text" class="search-input" />
            <button class="search-btn">찾기</button>
          </div>
          <button class="recommend-btn">추천 받기</button>
        </div>
        <div class="dish-lists">
          <div class="dish">
            <img src="images/ricewithoister.png" alt="dish-image" />
            <h3 class="title">굴밥</h3>
          </div>
          <div class="dish">
            <img src="images/ricewithoister.png" alt="dish-image" />
            <h3 class="title">굴밥</h3>
          </div>
          <div class="dish">
            <img src="images/ricewithoister.png" alt="dish-image" />
            <h3 class="title">굴밥</h3>
          </div>
          <div class="dish">
            <img src="images/ricewithoister.png" alt="dish-image" />
            <h3 class="title">굴밥</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
