<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>오늘의 식탁</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="오늘의 식탁" />
    <meta property="og:title" content="마이페이지" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />

    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="/static/styles/main.css" />
    <link rel="stylesheet" href="/static/styles/reset.css" />
    <link rel="stylesheet" href="/static/styles/common.css" />
    <link rel="icon" href="../static/imgs/favicon.ico" />

    <!-- font awesome 추가 -->
    <script
      src="https://kit.fontawesome.com/28653e43c1.js"
      crossorigin="anonymous"
    ></script>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script defer src="../static/scripts/common.js"></script>
  </head>
  <body>
    <header id="header">
      <h1>
        <a onclick="window.location.href='/'">
          <img class="logo" src="../static/imgs/logo.PNG" alt="오늘 뭐먹지?" />
        </a>
      </h1>
      <div tabindex="0" class="user">
        <span class="user-name"
          ><span class="user-name-db">{{ nickname }} </span>님</span
        >
        <img src="../static/{{ user_pic }}" alt="프로필" />
        <div class="nav">
          <div onclick="userpage()">마이페이지</div>
          <div onclick="sign_out()">로그아웃</div>
        </div>
      </div>
    </header>
    <button id="top-btn" type="button">Top</button>
    <div class="main-container">
      <div class="recommend-container">
        <h2>추천 드려요~!</h2>
        <h4>오늘의 건강식을 추천드립니다. 확인해보세요!</h4>
        <div class="image-container">
          {% for dish in recommends %}
          <div class="dish">
            <a href="/detail/{{ dish.no }}">
              <img src="{{ dish.img }}" alt="dish-image" />
              <div class="dish-desc">
                <p class="dish-name">{{ dish.menu_name }}</p>
                <p class="dish-type">{{ dish.menu_type }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <button class="recommend-btn" onclick="show_modal()">
          마음에 드는 게 없다면?
        </button>
      </div>
      <div class="list-container">
        <h2>건강한 레시피를 찾아보세요!</h2>
        <h4>원하시는 재료를 검색해서 건강한 음식을 찾아보세요!</h4>
        <form class="search-form">
          <input
            type="text"
            class="search-input"
            id="input"
            placeholder="재료 입력"
          />
          <button type="submit" class="search-btn">찾기</button>
        </form>
        <div class="dish-lists" id="ds">
          {% for dish in dishes %} {% set class_heart = "" %} {% if
          dish["like_by_me"] %} {% set class_heart = "fa-heart" %} {% else %} {%
          set class_heart = "fa-heart-o" %} {% endif %}
          <div id="{{ dish.no }}" class="dish">
            <a href="/detail/{{ dish.no }}">
              <div class="img-wrap">
                <img src="{{ dish.img }}" alt="dish-image" />
              </div>
              <div class="description">
                <p class="dish-type">{{ dish.menu_type }}</p>
                <h3 class="dish-name">{{ dish.menu_name }}</h3>
              </div>
            </a>
            <a
              class="level-item"
              aria-label="heart"
              onclick="toggle_like('{{ dish.no }}', 'heart')"
            >
              <i class="fa {{ class_heart }}" aria-hidden="true"></i>
              <span class="like-num">{{ dish.count_like }}</span>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- 모달 -->
      <div class="modal hidden">
        <div class="modal-contents">
          <div class="modal-wrap">
            <h1>질문에 답해주세요.</h1>
            <div class="question-wrap">
              <div class="questions-container">
                <h3 class="question">Q1. 밥 vs 디저트</h3>
                <label class="box-radio-input">
                  <input
                    type="radio"
                    name="item_type"
                    value="밥"
                    checked="checked"
                  />
                  <span>밥</span>
                </label>
                <label class="box-radio-input">
                  <input type="radio" name="item_type" value="후식" />
                  <span>후식</span>
                </label>
              </div>
              <div class="questions-container">
                <h3 class="question">Q2. 고단백 vs 저염식</h3>
                <label class="box-radio-input">
                  <input
                    type="radio"
                    name="item_healthy"
                    value="저염"
                    checked="checked"
                  />
                  <span>저염</span>
                </label>
                <label class="box-radio-input">
                  <input type="radio" name="item_healthy" value="고단백" />
                  <span>고단백</span>
                </label>
              </div>
              <div class="questions-container">
                <h3 class="question">Q3. 다이어트식 vs 보양식</h3>
                <label class="box-radio-input">
                  <input
                    type="radio"
                    name="item_cal"
                    value="다이어트식"
                    checked="checked"
                  />
                  <span>다이어트식</span>
                </label>
                <label class="box-radio-input"
                  ><input type="radio" name="item_cal" value="보양식" />
                  <span>보양식</span>
                </label>
              </div>
            </div>
            <div class="control-container">
              <button class="prev" id="prev" disabled>prev</button>
              <button class="next" id="next">next</button>
              <button class="submit hide" id="submit">submit</button>
            </div>
          </div>

          <!-- 메뉴추천 -->
          <div class="modal-result">
            <h1>추천 드립니다!</h1>
            <div class="recomended-dish">
              <button class="retry-btn">다시 추천 받기</button>
            </div>
          </div>
          <button class="exit-btn" onclick="hide_modal()">X</button>
        </div>
      </div>
      <footer id="footer">© 2021 오늘뭐먹지? by 5조</footer>
    </div>
  </body>
  <script src="/static/scripts/main.js"></script>
  <!-- <script>
  </script> -->
</html>
