* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #ff4253;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
}
#header .logo {
  height: 100px;
  padding: 15px 50px;
  box-sizing: border-box;
}
#header .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#header .user .user-name {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
#header .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 50px 0 20px;
}
#header .nav {
  display: none;
  position: absolute;
  top: 120px;
  right: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 70px;
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
}

.main-container {
  width: 100%;
  /* max-width: 1000px; */
  display: flex;
  flex-direction: column;
}

/* 추천 부분 */
.main-container .recommend-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 3rem 0;
  background-color: #ffe4e0;
}

.main-container .recommend-container h2,
.main-container .list-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.main-container .recommend-container h4,
.main-container .list-container h4 {
  color: black;
  opacity: 0.8;
}

.main-container .recommend-container .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 3rem 0;
  padding: 1rem 2rem;
  background-color: #f8ada9;
}

.image-container .dish {
  width: 200px;
  height: 320px;
  position: relative;
  margin: 0 0.5rem;
  cursor: pointer;
}

.image-container .dish:hover .dish-desc {
  opacity: 0.6;
}

.image-container .dish img {
  width: 200px;
  height: 320px;
  object-fit: cover;
}

.image-container .dish .dish-desc {
  width: 200px;
  height: 320px;
  background-color: black;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dish .dish-desc .dish-name {
  width: 60%;
  text-align: center;
  word-break: keep-all;
  line-height: 1.5rem;
}

.dish .dish-desc .dish-type {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 5px;
  background-color: yellow;
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding: 0.2rem 0.3rem;
}

.main-container .recommend-container .recommend-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #61b5d9;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.1s ease-in;
}
.main-container .recommend-container .recommend-btn:active {
  transform: scale(0.995);
}

/* 목록 부분 */
.main-container .list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
  background-color: #ffe4e0;
}

.main-container .list-container h2 {
  margin-bottom: 2rem;
}
.main-container .list-container h4 {
  margin-bottom: 1rem;
}

.main-container .list-container .search-form {
  width: fit-content;
  margin: 0 10%;
}

.search-form .search-input {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #61b5d9;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  font-size: 17px;
  font-weight: bold;
}
.search-form .search-btn {
  width: 50px;
  height: 40px;
  background-color: #61b5d9;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.main-container .list-container .dish-lists {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 2rem 3rem;
  margin: 1rem 0;
  background-color: #f8ada9;
  border-radius: 10px;
}

.main-container .list-container .dish-lists .dish {
  width: 200px;
  margin: 0.3rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.main-container .dish-lists .dish img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.3s ease-in;
}

.main-container .dish-lists .dish img:hover {
  transform: scale(1.1);
}

.main-container .dish-lists .dish .description {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4rem;
  position: relative;
  background-color: #fff;
}

.dish .description .dish-type {
  font-size: 0.5rem;
  margin-bottom: 0.4rem;
}

.dish .description .dish-name {
  font-size: 0.8rem;
  word-break: keep-all;
  margin-bottom: 0.3rem;
  color: black;
  font-weight: bold;
}

.dish .description .fa-heart {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
  font-size: 1rem;
}

.dish .description .fa-heart.fas {
  background-color: red;
}
