* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  width: 100%;
  height: auto;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

h1 {
  font-size: 2.5rem;
}

.main-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.main-container .search-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 10%;
}

.main-container .search-container .search-form {
}

.search-container .search-form .search-input {
  width: 200px;
  height: 30px;
  border: none;
  background-color: #d5dbb3;
  color: #334443;
  border-radius: 3px;
  padding: 5px;
  font-size: 17px;
  font-weight: bold;
}
.search-container .search-form .search-btn {
  width: 50px;
  height: 30px;
  background-color: #c6dd46;
  color: #334443;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.main-container .search-container .recommend-btn {
  width: 100px;
  height: 30px;
  background-color: #c6dd46;
  color: #334443;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.main-container .dish-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container .dish-lists .dish {
  width: 200px;
  height: 210px;
  margin: 10px;
  cursor: pointer;
}

.main-container .dish-lists .dish:hover img {
  transform: scale(1.1);
}

.dish-lists .dish img {
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease;
}

.dish-lists .dish .title {
  margin: 0.2rem 0;
  text-align: center;
}
